<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="SellingConnectionString" connectionString="Data Source=SALZAHRANI31\SALMAN;Initial Catalog=Selling;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
        <add name="Access-Control-Request-Methods" value="GET, POST, PUT, DELETE" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With,Access-Control-Request-Method,Access-Control-Request-Headers, accept, Content-Type" />
        <add name="Access-Control-Request-Headers" value="X-Requested-With,Access-Control-Request-Method,Access-Control-Request-Headers, accept, Content-Type" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.serviceModel>
    <!-- from -->
    <services>
      <service name="WeddingWCF.Service1" behaviorConfiguration="ServiceContract">

        <endpoint address="" binding="webHttpBinding" contract="WeddingWCF.IService1" behaviorConfiguration="ServiceContract">
          <identity>
            <dns value="localhost:25277"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <!-- To -->
    <behaviors>
      <!-- from -->
      <endpointBehaviors>
        <behavior name="ServiceContract">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <!-- To -->
      <serviceBehaviors>
        <behavior name="ServiceContract">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


</configuration>